<mat-toolbar color="primary" class="app-toolbar">
  <mat-icon class="toolbar-icon">analytics</mat-icon>
  <span class="toolbar-title">HAR File Analyzer</span>
  <span class="spacer"></span>
  @if (hasFile()) {
    <button mat-icon-button matTooltip="Load a new file" (click)="reset()">
      <mat-icon>refresh</mat-icon>
    </button>
  }
</mat-toolbar>

<main class="app-main">
  @if (!hasFile()) {
    <app-upload />
  } @else {
    <mat-tab-group animationDuration="150ms" class="main-tabs">
      <mat-tab label="Summary">
        <app-summary />
      </mat-tab>
      <mat-tab label="Waterfall">
        <app-waterfall />
      </mat-tab>
      <mat-tab label="Requests">
        <div class="requests-layout" [class.has-inspector]="selectedEntry">
          <div class="table-pane">
            <app-request-table (entrySelected)="selectedEntry = $event" />
          </div>
          @if (selectedEntry) {
            <div class="inspector-pane">
              <app-request-inspector
                [entry]="selectedEntry"
                (closed)="selectedEntry = null" />
            </div>
          }
        </div>
      </mat-tab>
    </mat-tab-group>
  }
</main>
